<footer>
	<!--
    <% if (theme.copyright) { %>
	<p><%= theme.copyright %></p>
	<% } %> 
    -->
    <p>
        <span>Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="font-weight: bold">CC BY-NC-SA</a></span>｜
        <!-- <span>Powered by <a href="http://hexo.io/" style="font-weight: bold">Hexo</a></span>｜-->
        <span>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></span>
    </p>
<%- partial('google-analytics') %>
</footer>
