/* Change */

footer a {
    color: #bbbbbb;
    font-weight: 500 !important;
}
footer {
	font-size: 85%;
	color: #bbbbbb;
	margin: 40px 0 10px 0;
}
footer p {
	border-top: #ccc thin solid;
	margin: 0 auto;
	padding-top: 5px;
	text-align:center;
	width: 80%;
	max-width: 900px;
}
blockquote {
    padding-left: 10px;
    /* border: #6699CC thin dotted; */
    border-left: #6699CC 5px solid;
    font-size: 90%;
}
/* global setting */

@media print {
	header {
		display: none;
	}
}
* {
	margin: 0;
	padding: 0;
}
body {
	font: 300 18px/1.8 /* "Microsoft Yahei",  */sans-serif;
	color: #78808d;
	background-color:#fffffc;
}
header {
	height: 40px;
	width:100%;
	margin-top: 10px;
}
header ul{
	list-style: none;
	float: right;
	margin-right: 20px;
	
}
header ul li {
	display: inline;
	padding: 10px;
}
header a {
	color: #888888;
	font-size: 18px;
}
.content {
	width: 80%;
	margin: 0 auto;
	max-width:900px;	
}
.content ul li {
	margin-left: 1.2em;
}
.content ol li {
	margin-left: 1em;
}
.content p {
	margin-bottom: 8px;
}
.content p:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
	color: gray;
}
h1 {
	font-size: 240%;
	font-family: serif;
	font-weight: 800;
	text-align: center;
}
h2 {
	font-size: 175%;
	font-weight: bolder;
	margin: 20px 0 10px 0;
    border-bottom: 1px solid #dcddde;
    
}
h3 {
	font-size: 145%;
	font-weight: bolder;
	margin-top: 10px;

}
h4 {
	font-size: 115%;
	font-weight: normal;
	margin-top: 10px;
}
a {
	color: #99CCFF;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
img {
	border-style: none;
}
code, pre, tt {
	font-family: Consolas, monospace;
 }
code {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0 0.5em;
	font-size: 85%;
	background-color: rgba(100, 100, 100, 0.1);
	border-radius: 3px;
}
pre > code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
pre {
	padding: 16px;
	margin: 2em 0;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #fff;
	border-radius: 3px;
	border: #ddd thin solid;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
td pre {
	margin: 0;
	padding: 0;
	font-family: monospace;
	border: none;
	color: #666;
	font-size: 0.9em;
}
td.gutter {
	padding: 3px;
	width: 6px;
}
figure table {
	width: 100%;
}
table th,
table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}
table th {
	background-color: #f8f8f8;
}
table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

/* index page setting */

p.subtitle {
	text-align: center;
	border-bottom: #aaa thin dashed;
	margin-bottom: 0;
}
.title a {	
	font-size: 150%;
	font-family: serif;
	margin-top: 10px;
	display: block;
    font-weight: bold;
}
.title span {
	font-size: 80%;
	margin-bottom: 10px;
	display: block;
}
.title {
	padding-bottom: 20px;
	border-top: #aaa thin dashed;
	border-bottom: #aaa thin dashed;
}
.title:last-child {
	border-bottom: none;
}

/* archive page setting */

.archive h1 {
	text-align: left;
	border-bottom: #aaa thin dashed;
}
.archive-list {
	padding-left: 10px;
	padding-top: 20px;
}
.archive-list a {
	margin-left: 15px;
}

/* post page setting */

article {
	padding-top: 25px;
}
.author {
	text-align: right;
	font-size: 90%;
	margin-top: 20px;
	margin-right: 10px;
}
article .summary {
	margin: 5px 0px 20px 0px;
	padding: 5px;
	border-top: #888 thin dashed;
	border-bottom: #888 thin dashed;
	font-family: "Adobe Kaiti Std","Kaiti SC","Kaiti TC","Kai","STKaiti","KaiTi","AR PL New Kai","AR PL UKai CN","AR PL UKai HK","AR PL UKai TW";
	font-size: 95%;
	color: #888;
}
